
/*extra large...xl*/
@media (min-width: 1200px) and (max-width: 1399.98px){
/*banner Css Start*/
#banner .banner_text{
   margin-left: 70px;
}
/*banner Css End*/
/*For about menu Css Start*/
#about .about_video:after{
   left: 190px;
}
/*For about menu Css End*/
/*Course Css Start*/
#courses .courseSlider .priv_arrow{
   left: -40px;
 }
 #courses .courseSlider .next_arrow{
   right: -40px;
 }
/*Course Css End*/
/*Test Css Start*/
#test .test_slider .priv_arrow{
   left: -35px;
 }

 #test .test_slider .next_arrow{
   left: -35px;
 }
/*Test Css End*/
/*for teacher menu*/
#teacher .teacher_item .overlay{
   left: 65px;
}
#teacher .extra3 img{
   margin-top: 15px;
}
}
/*large...lg*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*Common css start*/
.secInfo{
   padding-top: 50px;
   padding-bottom: 60px;
}
/*Common css start*/
/* Nav Css Start*/
#nav .nav_item .topBtn{
   font-size: 13px;
   padding: 12px 16px;
}
/* //Nav Css End*/
/*Banner css start*/
#banner .banner_slider_item{
   height: 500px;
}
#banner .banner_text{
   text-align: center;
   padding-top: 100px;
}
#banner .banner_text p{
   padding: 0 140px;
   padding-bottom: 40px;
}
/*For other banner*/
#banner_two .other_banner{
   height: 250px;
}
/*Banner css end*/
/*Support css start*/
#support{
	transform: translateY(-90px);
}
#support .online{
   padding: 20px;
}
/*Support css end*/
/*About Css Start*/
#about{
   padding-top: 0;
}
#about .about_slider_item img{
   padding: 8px 0;
}
#about .about_text{
   margin-top: 60px;
}
/*For about menu*/
#about .middle{
   margin-top: 20px;
}
#about .about_text{
   margin-top: 20px;
}
#about .same{
   margin-bottom: 20px;
}
#about .about_video:after{
   left: 190px;
}
/*About Css End*/
/*Count css start*/
#count{
   margin-top: 20px;
}
/*Count css start*/
/*Course Css Start*/
#courses{
   margin-bottom: 50px;
}
#courses .course_mentor_content{
   padding: 10px;
}
#courses .course_mentor .name{
   font-size: 11px;
}
#courses .same{
   margin: 0 8px;
}
#courses .course_mentor i{
   font-size: 9px;
}
#courses .course_mentor .rate{
   font-size: 11px;
}
#courses .course_bio .common{
   padding-bottom: 20px;
}
#courses .course_detail .course{
   font-size: 10px;
   padding-bottom: 8px;
}
#courses .course_bio .common{
   padding-bottom: 20px;
}
#courses .courseSlider .priv_arrow{
   bottom: -60px;
   left: 44%;
 }
 #courses .courseSlider .next_arrow{
   bottom: -60px;
   right: 44%;
 }
/*Course Css End*/
/*Event Css Start*/
#event{
	margin-bottom: 50px;
}
#event .event_bnr_content h3{
   font-size: 18px;
}
#event .common{
   font-size: 13px;
   padding: 5px 0;
}
#event .event_bnr_content i{
   font-size: 10px;
}
#event .event_bnr2_img .overlay{
   bottom: 4px;
}
#event .event_bnr_img .overlay{
   bottom: 6px;
}
#event .event_meetUp{
   margin-bottom: 20px;
   padding: 16px 4px;
   height: 200px;
}
/*for event menu*/
#event .event_bnr2_img .overlay{
   right: 12px;
   bottom: 0;
}
/*Event Css End*/
/*Test Css Start*/
#test{
   height: 530px;
}
#test .test_slider:before{
   right: -60px;
} 
#faq{
   transform: translateY(-235px);
   margin-left: 700px;
}
#faq .accordion-button[aria-expanded="true"]{
   height: 60px;
   width: 234px;
   font-size: 15px;
}
#faq .accordion-button[aria-expanded="false"]{
   height: 60px;
   width: 230px;
   font-size: 15px;
}
#faq .accordion_text{
   font-size: 12px;
   width: 230px;
}
/*Test Css End*/
/*Teacher Css Start*/
#teacher .teacher_item .overlay{
   bottom: 22%;
   left: 55px;
}
#teacher .overlay i{
   font-size: 12px;
   height: 35px;
   width: 35px;
   line-height: 35px;
   margin-right: 5px;
}
#teacher .extra img{
   margin-left: 75px;
}
/*Teacher Css End*/
/*for teacher menu*/
#teacher .teacher_item .menu_overlay{
   bottom: 25%;
   left: 56px;
}
#teacher .extra3{
   margin-left: 25px;
}
/*Education css start*/
#education .blog_text h5{
   font-size: 18px;
   padding-left: 20px;
   padding-bottom: 5px;
}
#education .blog_text a{
   font-size: 14px;
   padding-left: 25px;
}
#education .overlay2 i{
   font-size: 8px;
}
/*Education css end*/
/*Education2 Css Start*/
#education2 .blog_text{
   left: 18px;
}
#education2 .blog_text p{
   font-size: 14px;
}
#education2 .blog_text a{
   font-size: 12px;
}
/*Education2 Css End*/
/* //Footer Css Start*/
#footer .footer_img_content .overlay{
   font-size: 13px;
   width: 90px;
   height: 50px;
   left: 22%;
}
/* //Footer Css End*/
}
/*medium---md*/
@media (min-width: 768px) and (max-width: 991.98px) {
   /*Common css start*/
   .secInfo{
      padding-top: 50px;
      padding-bottom: 50px;
   }
   .secInfo .content{
      padding-bottom: 20px;
   }
   .secInfo .content h1{
      padding-bottom: 0;
   }
   .secInfo .content p{
      color: #666666;
      font-size: 14px;
      padding: 20px 100px;
   }
   .common{
      font-size: 12px;
      color: #212529;
   }
   #about{
      padding-top: 0;
   }
/*Common css start*/
/*Banner css start*/
#banner .banner_slider_item{
   height: 400px;
}
#banner .banner_text{
   text-align: center;
   padding-top: 50px;
}
#banner .banner_text h2{
   font-size: 30px;
}
#banner .banner_text h1{
   font-size: 42px;
   padding-bottom: 10px;
}
#banner .banner_text p{
   font-size: 14px;
   padding: 0 60px;
   padding-bottom: 35px;
}
#banner .banner_text a{
   font-size: 19px;
   padding: 10px 20px;
}
#banner .banner_slider .priv_arrow{
   left:20px;
}
#banner .banner_slider .next_arrow{
   right: 20px;
}
/*For other banner*/
#banner_two .other_banner{
   height: 250px;
}
/*Banner css end*/
/*Support css start*/
#support{
	transform: translateY(-60px);
}
#support .online{
   padding: 10px;
}
#support .online img{
	padding-bottom: 15px;
}
#support .online h3{
	font-size: 20px;
   padding-bottom: 8px;
}
#support .online a{
   color: #999999;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 30px;
	cursor: pointer;
   transition: all linear .4s;
}
#support .online a:hover {
	color: #fbaa33;
}
/*Support css end*/
/*About Css Start*/
#about .secInfo .content h1{
   padding-bottom: 0;
}
#about .same{
   font-size: 12px;
   margin-bottom: 15px;
}
#about .about_text{
   margin-top: 20px;
}
#about a{
	font-size: 16px;
	padding: 10px 10px;
}
#about .about_slider:after{
   left: 32px;
}
#about .about_slider:before{
   right: -15px;
}
/*for about menu*/
#about .img_slider,
#about .about_video{
   margin-left: 80px;
}
#about .one{
   position: relative;
}
#about .one:after{
   left: 32px;
}
#about .one:before{
   right: -150px;
}
#about .about_video:after{
   left: 185px;
}
/*About Css End*/
/*Count Css Start*/
#count .count_item h3{
	font-size: 34px;
}
#count .count_item h5{
	font-size: 19px;
}
/*Count Css End*/
/*Course css start*/
#courses{
   margin-bottom: 50px;
}
#courses .course_mentor_content{
   padding: 15px;
}
#courses .course_mentor .name{
   font-size: 11px;
}
#courses .same{
   margin: 0 8px;
}
#courses .course_mentor i{
   font-size: 11px;
}
#courses .course_mentor .rate{
   font-size: 12px;
}
#courses .course_bio .common{
   padding-bottom: 20px;
}
#courses .course_detail .course{
   font-size: 10px;
   padding-bottom: 8px;
}
#courses .course_bio .common{
   padding-bottom: 20px;
}
#courses .courseSlider .priv_arrow{
   bottom: -60px;
   left: 42%;
 }
 #courses .courseSlider .next_arrow{
   bottom: -60px;
   right: 42%;
 }
/*Course css end*/
/*Event Css Start*/
#event{
	margin-bottom: 20px;
}
#event .content{
	padding-bottom: 30px;
}
#event .content h1{
   padding-bottom: 0;
}
#event .event_bnr_content h3{
   font-size: 22px;
}
#event .content p{
	padding: 20px 100px;
}
#event .bootcamp{
   margin-top: 30px;
   margin-left: 0;
}
#event .event_bnr_img .overlay{
   right: 56px;
   bottom: 1px;
}
#event .common{
   font-size: 16px;
   line-height: 21px;
   margin-top: 10px;
}
#event .event_bnr_content i{
   font-size: 12px;
   padding-right: 10px;
   margin-top: 25px;
}
#event .event_bnr_content .event_btn{
   font-size: 18px;
   margin-top: 10px;
}
#event .event_meetUp:nth-child(2n){
   margin-left: -11px;
}
#event .event_bnr_content{
   margin-left: -45px;
}
/*for event menu*/
#event .evnt:nth-child(1n){
   margin-left: 50px;
}
#event .event_bnr2_img .overlay{
   right: 66px;
}
/*Event Css End*/
#test .test_slider .priv_arrow{
   height: 45px;
   width: 45px;
   line-height: 45px;
   top: 25%;
   left: -30px;
}
#test .test_slider .next_arrow{
   height: 45px;
   width: 45px;
   line-height: 45px;
   bottom: 35%;
   left: -30px;
}
#test .test_slider:before{
   right: -60px;
}
#test{
   height: 740px;
}
#faq{
   transform: translateY(0);
   margin-top: 20px;
   margin-left: 180px;
}
/*Teacher Css Start*/
#teacher .teacher_intro{
   margin-right: 8px;
}
#teacher .teacher_item .extra2{
   bottom: 22%;
   left: 40px;
}
#teacher .teacher_intro h5{
   font-size: 16px;
}
#teacher .teacher_intro p{
   font-size: 15px;
}
#teacher .overlay i{
   font-size: 12px;
   height: 34px;
   width: 34px;
   line-height: 34px;
   margin-right: 4px;
}
#teacher .teacher_item .overlay{
   left: 57px;
}
#teacher .extra img{
   margin-top: 15px;
   margin-left: 80px;
}
/*for teacher menu*/
#teacher .menu_overlay{
   margin-left: 28px;
}
#teacher .extra3{
   margin-right: 70px;
}
#teacher .extra3 img{
   margin-left: 0px;
   margin-top: 15px;
}
/*Teacher Css End*/
/*Blog Css Start*/
#blog .content{
   padding-top: 30px;
}
#blog .content h1{
	font-size: 32px;
   padding-bottom: 0;
}
#blog .content p{
	padding: 20px 100px;
   padding-bottom: 150px;
}
/* //Blog Css End*/
/*Education css start*/
#education .color_overlay{
   width: 86.5%;
}
#education .edu_item{
   margin-top: 20px;
}
#education2 .edu_item{
   margin-bottom: 20px;
}
#education .edu_item .overlay{
   right: 120px;
}
#education{
   margin-left: 85px;
}
/*Education Css End*/
/*Education2 Css Start*/
#education2 .color_overlay{
   width: 85%;
}
#education2 .edu_item .overlay{
   right: 70px;
}
#education2{
   margin-left: 88px;
   margin-bottom: -100px;
}
#education2 .edu_item:nth-child(2n){
   transform: translateX(-50px);
}
/*Education2 Css End*/
#footer .footer_content{
   padding-top: 20px;
}
#footer .footer_item1 p{
   padding-top: 20px;
	font-size: 13px;
}
#footer .footer_icon {
   padding-top: 20px;
}
#footer .footer_icon ul li a i{
   margin-right: 8px;
}

#footer .footer_item2 ul li,
#footer .footer_item3 ul li{
   padding-top: 25px;
}
#footer .footer_list ul li{
   font-size: 14px;
}
#footer .footer_item5 p{
   font-size: 14px;
   line-height: 20px;
}
#footer .footer_img_content{
   margin-top: 20px;
}
#footer .footer_img_content .overlay{
   top:35%;
   left: 17%;
   font-size: 12px;
   width: 85px;
   height: 40px;
}
}
/*small---sm*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*Bootstrap nav css start*/
   #nav {
      background-color: white;
      padding: 5px;
    }
/*Bootstrap nav css end*/
  /*Common css start*/
  .secInfo{
   padding-top: 50px;
   padding-bottom: 50px;
}
.secInfo .content{
   padding-bottom: 20px;
}
.secInfo .content h1{
   font-size: 29px;
   padding-bottom: 0;
}
.secInfo .content p{
   font-size: 13px;
   padding: 20px 60px;
}
.common{
   font-size: 12px;
   color: #212529;
}
#about{
   padding-top: 0;
}
/*Common css start*/
/*Banner css start*/
#banner .banner_slider_item{
height: 400px;
}
#banner .banner_text{
text-align: center;
padding-top: 50px;
}
#banner .banner_text h2{
font-size: 30px;
}
#banner .banner_text h1{
font-size: 42px;
padding-bottom: 10px;
}
#banner .banner_text p{
font-size: 14px;
padding: 0 60px;
padding-bottom: 35px;
}
#banner .banner_text a{
font-size: 19px;
padding: 10px 20px;
}
#banner .banner_slider .priv_arrow{
width: 50px;
height: 50px;
line-height: 50px;
left:20px;
}
#banner .banner_slider .next_arrow{
   width: 50px;
height: 50px;
line-height: 50px;
right: 20px;
}
/*For other banner*/
#banner_two .other_banner{
height: 200px;
}
/*Banner css end*/
/*Support css start*/
#support{
transform: translateY(-60px);
margin-bottom: -40px;
}
#support .online{
padding: 8px;
}
#support .online img{
padding-bottom: 15px;
}
#support .online h3{
font-size:14px;
padding-bottom: 8px;
}
#support .online a{
color: #999999;
font-weight: 400;
font-size: 12px;
margin-bottom: 30px;
cursor: pointer;
transition: all linear .4s;
}
#support .online a:hover {
color: #fbaa33;
}
/*Support css end*/
/*About Css Start*/
#about .secInfo .content h1{
padding-bottom: 0;
}
#about .same{
font-size: 12px;
margin-bottom: 15px;
text-align: center;
}
#about .about_text{
margin-top: 20px;
}
#about a{
font-size: 17px;
padding: 10px 10px;
}
#about .about_btn{
   margin-left: 28%;
}
#about .about_slider:after{
left: 32px;
}
#about .about_slider:before{
right: -130px;
}
/*for about menu*/
#about .one{
position: relative;
}
#about .one:after{
left: 32px;
}
#about .one:before{
right: -150px;
}
#about .about_video iframe{
width: 520px;
}
/*About Css End*/
/*Count Css Start*/
#count{
   margin-top: 0;
   padding: 20px;
}
#count .count_item h3{
font-size: 30px;
}
#count .count_item h5{
font-size: 14px;
}
/*Count Css End*/
/*Course css start*/
#courses .courseSlider{
   margin-left: 60px;
   width: 390px;
}
#courses .courseSlider .priv_arrow{
   bottom: -60px;
   left: 36%;
 }
 #courses .courseSlider .next_arrow{
   bottom: -60px;
   right: 36%;
 }
 /*for course menu*/
#courses .course_two .slider_item{
   margin-left: 70px;
   width: 390px;
}
/*Course css end*/
/*Event Css Start*/
#event{
	margin: 40px 0;
}
#event .content{
	padding-bottom: 30px;
}
#event .content h1{
	font-size: 29px;
   padding-bottom: 20px;
}
#event .content p{
	font-size: 13px;
	padding: 0 60px;
}
#event .bootcamp{
margin-top: 30px;
}
#event .event_bnr_img .overlay{
bottom: 1px;
}
#event .event_bnr_content h3{
   font-size: 18px;
}
#event .common{
line-height: 15px;
margin-top: 8px;
}
#event .event_bnr_content i{
font-size: 10px;
padding-right: 10px;
margin-top: 5px;
}
#event .event_bnr_content .event_btn{
font-size: 18px;
margin-top: 10px;
}
#event .event_meetUp{
margin-left: 10px;
}
/*for event menu*/
#event .event_menu_btn a{
padding: 8px 12px;
font-size: 16px;
}
#event .evnt_part:nth-child(1n){
margin-left: -3px;
}
#event .evnt_part:nth-child(2n){
   margin-left: -3px;
}
#event .evnt_part .event_bnr_content h3{
   font-size: 19px;
}
#event .evnt_part .common{
line-height: 20px;
}
#event .evnt_part .event_bnr_content i{
margin-top: 25px;
}
/*Event Css End*/
/*Test Css Start*/
#test{
height: 1000px;
}
#test .test_slider{
   margin-left: 50px;
}
#test .test_slider .priv_arrow{
height: 45px;
width: 45px;
line-height: 45px;
top: 18%;
left: -20px;
}
#test .test_slider .next_arrow{
height: 45px;
width: 45px;
line-height: 45px;
bottom: 62%;
left: -20px;
}
#test .test_slider:before{
right: -60px;
}
#faq{
transform: translateY(0);
transform: translateX(-100px);
margin-top: 30px;
margin-left: 200px;
}
/*Teacher Css Start*/
#teacher .teacher_intro{
   margin-right: 8px;
}
#teacher .teacher_item .extra2{
   bottom: 28%;
   left: 22px;
}
#teacher .overlay i{
   font-size: 12px;
   height: 34px;
   width: 34px;
   line-height: 34px;
   margin-right: 5px;
}
#teacher .teacher_intro h5{
   font-size: 16px;
}
#teacher .teacher_intro p{
   font-size: 14px;
}
#teacher .extra img{
   margin-left: 50px;
}
/*for teacher menu*/
#teacher .menu_overlay{
   margin-left: 18px;
   margin-bottom: 10px;
}
#teacher .extra3 img{
   margin-left: 5px;
   margin-top: 15px;
}
/*Teacher Css End*/
/*Blog Css Start*/
#blog .content{
padding-top: 20px;
}
#blog .content h1{
font-size: 29px;
padding-bottom: 0;
}
#blog .content p{
font-size: 14px;
padding: 20px 60px;
padding-bottom: 130px;
}
/* //Blog Css End*/
/*Education css start*/
#education .edu_item{
margin-top: 20px;
}
/*Education Css End*/
/*Education2 Css Start*/
#education2 .edu_item{
   margin-bottom: 20px;
}
#education2{
   margin-bottom: -100px;
}
#education2 .blog_text p{
   font-size: 15px;
}
/*Education2 Css End*/
/*Footer Css Start*/
#footer .footer_item2 ul li,
#footer .footer_item3 ul li{
font-size: 13px;
}
#footer .footer_content{
padding-top: 10px;
}
#footer .footer_item1 p{
padding-top: 12px;
font-size: 11px;
}
#footer .footer_icon {
padding-top: 20px;
}
#footer .footer_content h5{
   font-size: 16px;
   margin-top: -45px;
   width: 190px;
}
#footer .footer_icon ul li a i{
margin-right: 4px;
}
#footer .footer_icon ul li a i{
	font-size: 16px;
   height: 30px;
   width: 30px;
   line-height: 30px;
}
#footer .footer_item2 ul li,
#footer .footer_item3 ul li{
padding-top: 16px;
}
#footer .footer_item5 p{
font-size: 12px;
line-height: 18px;
}
#footer .footer_item5 .address{
   padding-top: 5px;
}
#footer .footer_item4 ul li a i{
	font-size: 20px;
   height: 40px;
   width: 40px;
   line-height: 40px;
}
#footer .footer_item4 ul li{
   padding-top: 30px;
}
#footer .footer_img_content{
margin-top: 10px;
}
#footer .footer_img_content .overlay{
top:35%;
left: 18%;
font-size: 10px;
width: 60px;
height: 35px;
}
#footer .footer_item5 h6{
   font-size: 13px;
}
#footer .copyright p{
   font-size: 13px;
}
#footer .copyright span{
   color: #fbaa33;
   font-size: 13;
   text-transform: uppercase;
}
}
/*extra small....xsm*/
@media(min-width: 350px) and (max-width: 575.98px) {
/*Bootstrap nav css start*/
   #nav {
      background-color: white;
      padding: 2px;
    }
/*Bootstrap nav css end*/
    /*Common css start*/
    .secInfo{
      padding-top: 30px;
      padding-bottom: 30px;
   }
   .secInfo .content{
      padding-bottom: 15px;
   }
   .secInfo .content h1{
      font-size: 24px;
      padding-bottom: 0;
   }
   .secInfo .content p{
      font-size: 11px;
      padding: 10px 10px;
   }
   .common{
      font-size: 11px;
      color: #212529;
   }
   #about{
      padding-top: 0;
   }
   /*Common css start*/
   /*Header Css Start*/
   #header{
      line-height: 30px;
      height: 30px;
   }
   #header .header_item1,
   #header .header_item2{
      font-size: 11px;
   }
   #header .header_item1 ul li{
      padding-right: 3px;
   }
   /* //Header Css End*/
   /*Banner css start*/
   #banner .banner_slider_item{
   height: 280px;
   }
   #banner .banner_text{
   text-align: center;
   padding-top: 20px;
   }
   #banner .banner_text h2{
   font-size: 18px;
   }
   #banner .banner_text h1{
   font-size: 25px;
   padding-bottom: 10px;
   }
   #banner .banner_text p{
   font-size: 9px;
   padding: 0 15px;
   line-height: 15px;
   padding-bottom: 30px;
   }
   #banner .banner_text a{
   font-size: 12px;
   padding: 5px 5px;
   }
   #banner .banner_slider .priv_arrow{
   font-size: 18px;
   width: 35px;
   height: 35px;
   line-height: 35px;
   left:20px;
   }
   #banner .banner_slider .next_arrow{
   font-size: 18px;
   width: 35px;
   height: 35px;
   line-height: 35px;
   right: 20px;
   }
   /*For other banner*/
   #banner_two .other_banner{
   height: 160px;
   }
   #banner_two h5,
   #banner_two h6{
   font-size: 15px;
   padding-bottom: 4px;
   }
   #banner_two .other_banner_text{
   padding-top: 40px;
   }
   /*Banner css end*/
   /*Support css start*/
   #support{
   transform: translateY(-60px);
   margin-left: 25px;
   margin-bottom: -40px;
   }
   #support .online{
   padding: 8px;
   width: 300px;
   height: 130px;
   }
   #support .online img{
   padding-bottom: 5px;
   }
   #support .online h3{
   font-size:14px;
   padding-bottom: 0;
   }
   #support .online a{
   font-weight: 400;
   font-size: 12px;
   margin-bottom: 0;
   }
   /*Support css end*/
   /*About Css Start*/
   #about .secInfo .content h1{
   padding-bottom: 0;
   }
   #about .same{
   font-size: 10px;
   margin-bottom: 10px;
   }
   #about .about_text{
   margin-top: 10px;
   }
   #about a{
   font-size: 13px;
   padding: 7px 5px;
   }
   #about .about_btn{
      margin-left: 20%;
   }
   #about .about_slider:after{
   height: 2px;
   left: 10px;
   }
   #about .about_slider:before{
   height: 2px;
   left: -12px;
   }
   /*for about menu*/
   #about .one{
   position: relative;
   }
   #about .middle{
      margin-top: 10px;
   }
   #about .end{
      margin-top: 0;
   }
   #about .start{
      margin-top: 10px;
   }
   #about .about_video:after{
      left: 0px;
   }
   #about .about_video:before{
      right: 0px;
   }
   #about .about_video{
   margin-bottom: 10px;
   }
   #about .about_video iframe{
   width: 330px;
   height: 230px;
   }
   #about .about_menu_btn{
      margin-bottom: 30px;
   }
   /*About Css End*/
   /*Count Css Start*/
   #count{
      margin-top: 0;
      padding: 10px;
   }
   #count .count_content{
      display: flex;
      flex-wrap: wrap;
   }
   #count .count_item{
      width: 50%;
   }
   #count .count_item h3{
   font-size: 20px;
   padding-bottom: 8px;
   }
   #count .count_item h5{
   font-size: 12px;
   padding-bottom: 0;
   }
   /*Count Css End*/
   /*Course css start*/
   #courses .course_bio{
   text-align: center;
   }
   #courses .course_mentor_img img{
   margin-left: 40%;
   }
   #courses .course_mentor p{
   text-align: center;
   }
   #courses .course_mentor .name{
   text-align: center; 
   }
   #courses .course_mentor .rate{
   margin-left: -70%;
   }
   #courses .star{
   margin-left: 24%;
   }
   #courses .course_detail{
      display: flex;
      flex-wrap: wrap;
   }
   #courses .two{
      width: 33%;
   }
   #courses .course_detail .course{
      font-size: 9px;
   }
   #courses .courseSlider{
      margin-left: 0px;
      width: 325px;
   }
   #courses .courseSlider .priv_arrow{
      width: 40px;
      height: 40px;
      line-height: 40px;
      bottom: -20px;
      left: 36%;
    }
    #courses .courseSlider .next_arrow{
      width: 40px;
      height: 40px;
      line-height: 40px;
      bottom: -20px;
      right: 36%;
    }
    /*for course menu*/
   #courses .course_two .slider_item{
      margin-left: 15px;
      width: 325px;
   }
   /*Course css end*/
   /*Event Css Start*/
   #event{
      margin: 40px 0;
   }
   #event .content{
      padding-bottom: 30px;
   }
   #event .content h1{
      font-size: 29px;
      padding-bottom: 20px;
   }
   #event .content p{
      font-size: 11px;
      padding: 0 0;
   }
   #event .event_meetUp{
      width: 250px;
   }
   #event .bootcamp{
   margin-top: 30px;
   }
   #event .event_bnr_img .overlay{
   right: 12px;
   bottom: 0;
   }
   #event .event_bnr_content h3{
   margin-top: 10px;
   font-size: 16px;
   }
   #event .common{
   font-size: 12px;
   line-height: 13px;
   margin-top: 0;
   padding: 12px 0;
   }
   #event .event_bnr_content i{
   font-size: 9px;
   padding-right: 10px;
   margin-top: 0;
   }
   #event .event_bnr_content .event_btn{
   font-size: 15px;
   margin-top: 5px;
   padding: 5px 12px;
   }
   #event .event_meetUp{
   margin-left: 50px;
   }
   /*for event menu*/
   #event .event_menu_btn{
      margin-bottom: 20px;
   }
   #event .event_menu_btn a{
      padding: 5px 10px;
      font-size: 15px;
   }
   #event .evnt_part:nth-child(1n){
   margin-left: 50px;
   }
   #event .evnt_part:nth-child(2n){
      margin-left: 50px;
   }
   #event .evnt_part .event_bnr_content h3{
   margin-top: 10px;
   font-size: 16px;
   } 
   #event .evnt_part .common{
   margin-top: 0;
   padding: 12px 0;
   line-height: 13px;
   }
   #event .evnt_part .event_bnr_content i{
   margin-top: 0;
   }
   /*Event Css End*/
   /*Test Css Start*/
   #test{
   height: 720px;
   }
   #test .test_slider{
   margin-left: 25px;
   }
   #test .test_slider .priv_arrow{
   font-size: 20px;
   height: 40px;
   width: 40px;
   line-height: 40px;
   top: 12%;
   left: -30px;
   }
   #test .test_slider .next_arrow{
   font-size: 20px;
   height: 40px;
   width: 40px;
   line-height: 40px;
   bottom: 65%;
   left: -30px;
   }
   #test .slider_img:before{
   right: 10px;
   bottom: 1px;
   width: 260px;
   }
   #test .slider_content p{
      font-size: 10px;
      line-height: 20px;
      margin-bottom: 10px;
   }
   #test .slider_content{
      margin-top: 20px;
      text-align: center;
   }
   #test .slider_content h5{
      font-size: 15px;
      font-weight: 700;
   }
   #test .slider_content span{
      font-size: 13px;
      font-weight: 500;
   }
   #test .slider_content i{
      font-size: 11px;
      padding-top: 16px;
   }
   #faq{
   transform: translateY(0);
   transform: translateX(-195px);
   margin-top: 30px;
   margin-left: 210px;
   }
   #faq .accordion-button[aria-expanded="true"]{
      height: 40px;
      width: 290px;
      font-size: 15px;
   }
   #faq .accordion-button[aria-expanded="false"]{
      height: 40px;
      width: 290px;
      font-size: 15px;
   }
   #faq .accordion_text{
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      width: 290px;
   }
   /*Teacher Css Start*/
   #teacher{
      margin-bottom: -30px;
   }
   #teacher .teacher_item .overlay{
      bottom: 20%;
      left: 60px;
   }
   #teacher .teacher_item{
      margin-left: 30px;
   }
   /*For teacher menu*/
   #teacher .extra3 img{
      margin-left: 0px;
      margin-top: 15px;
   }
   #teacher .teacher_intro{
      margin-right: 40px;
   }
   #teacher .teacher_item .menu_overlay{
      left: 75px;
   }
   /*Teacher Css End*/
   /*Blog Css Start*/
   #blog .content{
   padding-top: 20px;
   }
   #blog .content h1{
   font-size: 25px;
   padding-bottom: 10px;
   }
   #blog .content p{
   font-size: 11px;
   padding: 0 0;
   padding-bottom: 80px;
   }
   /* //Blog Css End*/
   /*Education css start*/
   #education .edu_item{
   margin-top: 20px;
   }
   #education .overlay ul li a i{
      font-size: 12px;
      height: 35px;
      width: 35px;
      line-height: 35px;
      margin-bottom: 5px;
   }
   #education .overlay2 i{
      font-size: 7px;
      margin-right: 8px;
   }
   #education .edu_item .overlay2{
      bottom: 5px;
      left: 35px;
   }
   #education .blog_text h5{
      font-size: 13px;
      padding-left: 8px;
      padding-bottom: 5px;
   }
   #education .blog_text a{
      font-size: 11px;
      padding-left: 11px;
   }
   #education .edu_item:nth-child(2n){
      margin-bottom: 35px;
   }
   #education{
      transform: translateY(-80px);
   }
   /*Education Css End*/
   /*Education2 Css Start*/
   #education2 .edu_item{
      margin-bottom: 20px;
   }
   #education2{
      margin-bottom: -100px;
   }
   #education2 .edu_item{
      margin-left: 30px;
   }
   #education2 .color_overlay{
      width: 83%;
   }
   #education2 .blog_text p{
      font-size: 14px;
   }
   #education2 .blog_text a{
      font-size: 12px;
   }
   #education2 .edu_item .overlay{
      top: 10%;
      right: 80px;
   }
   /*Education2 Css End*/
   /*Footer Css Start*/
   #footer .footer_item2,
   #footer .footer_item3,
   #footer .footer_item4{
      margin-top: 40px;
      text-align: center;
   }
   #footer .footer_item5{
      margin-top: 10px;
      text-align: center;  
   }
   #footer .footer_item2 h5{
      margin-left: 70px;
   }
   #footer .footer_item2 ul li,
   #footer .footer_item3 ul li{
      display:block;
      padding-top: 10px;
      font-size: 15px;
   }
   #footer .footer_item3 ul{
      margin-top: -40px;
   }
   #footer .footer_item4 h5{
      margin-left: 60px;
      margin-bottom: 10px;
   }
   #footer .footer_item4 ul li{
      display: inline;
   }
   #footer .footer_item4 ul li a i{
      font-size: 20px;
      height: 40px;
      width: 40px;
      line-height: 40px;
      margin-right: 10px;
   }
   #footer .footer_item5 .address{
      padding-top: 5px;
   }
   #footer .footer_item5 p{
      font-size: 12px;
      padding-top: 0px;
      line-height: 20px;
   }
   #footer .footer_logo{
      text-align: center;
   }
   #footer .footer_item1 p{
      padding-top: 10px;
      font-size: 12px;
      text-align: center;
   }
   #footer .footer_icon {
      padding-top: 10px;
      margin-left: 60px;
   }
   #footer .footer_img_content{
      margin-top: 20px;
   }
   #footer .footer_img_content .overlay{
      font-size: 13px;
      width: 100px;
      height: 50px;
      top:40%;
      left: 20%;
   }
   #footer .copyright p{
      font-size: 13px;
   }
   #footer .copyright span{
      font-size: 14;
   }
/* //Footer Css End*/
/* Back To Top Button Section Css Start */
 #backToTop{
   width: 35px;
   height: 35px;
   line-height: 30px;
   font-size: 20px;
 }
/* //Back To Top Button Section Css End */
}